.header {
  background-image: url('images/Mask\ group.png');
  /* Remplace par l'URL de ton image */
  background-size: cover;
  background-position: center;
  height: 1000px;
  position: relative;
  color: white;
}
.bg-light-medium {
  background-color: #d3d3d3; /* Un gris intermédiaire, tu peux ajuster cette valeur */
}
.dropdown{
  width:70%;
}
button{
  height: 50px;
}
.header img {
  width: 10%;
  position: absolute;
  top: 80px;
  left: 80px;
}
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header h1 {
  width: 90%;
  font-size: 3.5rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif; /* Applique la police Anton */

  margin-left: 60px;
  color: #ffc107;
  line-height: 1.3; /* Ajuste la hauteur de ligne (1.5 est un bon point de départ) */
}
.search-icon {
  cursor: pointer; /* Change le curseur en main */
  transition: color 0.3s; /* Transition douce pour le changement de couleur */
}

.search-bar i.fa-solid.fa-magnifying-glass:hover {
  background-color: #ffc107; /* Change la couleur de l'icône au survol */
}

.search-bar {
  position: relative;
  width: 1000px; /* Largeur de la barre de recherche */
  margin: 0 auto; /* Centrer la barre de recherche */
}

.position-relative {
  position: relative; /* Positionner le parent relativement */
}

.time-badge {
  position: absolute; /* Positionner le badge absolument */
  top: 10px; /* Distance du haut */
  right: 10px; /* Distance de la droite */
  background-color: rgba(255, 193, 7, 0.8); /* Fond blanc avec un peu de transparence */
  padding: 3px 6px; /* Réduction du padding autour du texte */
  border-radius: 30px; /* Coins arrondis plus petits */
  font-weight: bold; /* Mettre le texte en gras */
  font-size: smaller;
  color: #000; /* Couleur du texte (noir) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour le badge */
}

.search-bar input {
  width: 100%;
  height: 60px; /* Ajuste la hauteur de la barre de recherche */
  padding: 10px 40px 10px 10px; /* Ajuste le padding intérieur (haut, droite, bas, gauche) */
  font-size: 16px; /* Ajuste la taille de la police */
  border: 1px solid #ccc; /* Bordure de l'input */
  border-radius: 10px; /* Coins arrondis pour l'input */
}

.search-bar i.fa-solid.fa-magnifying-glass {
  position: absolute;
  right: 10px; /* Positionne l'icône à droite */
  top: 50%; /* Centre l'icône verticalement */
  transform: translateY(-50%); /* Ajuste la position verticale */
  background-color: rgb(39, 39, 39); /* Couleur de fond de l'icône */
  color: white; /* Couleur de l'icône */
  padding: 8px; /* Padding autour de l'icône */
  border-radius: 10%; /* Coins arrondis pour l'icône */
  font-size: 24px; /* Ajuste la taille de l'icône (ajuste la valeur selon tes préférences) */
}


.card.h-100 {
  min-height: 950px; /* Ajuste cette valeur selon la hauteur souhaitée */
}
.lin{
  margin-top: 40px;
}

.card-img-top-custom {
  max-height: 380px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
h5{
  font-size: 30px;
}

.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Nombre maximum de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
h6{
  text-transform: uppercase;
  font-size: smaller;
}

.dropdown-item:hover {
  background-color: #ffc107;
  /* Ou toute autre couleur de ton choix */
}

.dropdown-toggle::after {
  margin-left: 5rem;
  /* Ajuste la marge à gauche de la flèche */
}

.card {
 width: 90%;
  border-radius: 20px;
  font-size: 20px;
}

#selected-tags .badge {
  padding: 0.5rem;
  cursor: pointer;
  color: black;
}
h5{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.grey-l{
  color: #9e9e9e;
}